@media (max-width:1700px) {
    .navigation {
        padding-left: 30px;
        padding-right: 30px;
    }

    .mapIMG {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width:1200px) {
    .footer {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width:1000px) {
    .nav-li {
        display: none;
    }

    .burger {
        display: block;
        font-size: 25px;
    }

    .nav-logo {
        width: 100px;
    }
    :root {
        --form-title-size: 18px;
        --form-input-width: 500px;
        --form-input-height: 60px;
        --form-input-massage: 100px;
        --form-text-hint: 14px;
    }
    .footer {
        padding-left: 60px;
        padding-right: 60px;
    }
    .footer-logo {
        width: 80px;
    }

    .fa-facebook {
        margin-right: 20px;
    }
    input[type=submit] {
        margin-bottom: 350px;
    }
}

@media (max-width:800px) {
    .forms-div {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        margin-top: 57px;
    }

    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-logo {
        width: 60px;
    }

    .fa-facebook {
        margin-right: 18px;
    }

    .footer-li {
        font-size: 15px;
    }

    .footer-li i {
        font-size: 25px;
    }
    input[type=submit] {
        margin-bottom: 250px;
    }
}

@media (max-width: 600px) {
    .send-button {
        max-width: 150px;
        width: 100%;
        margin: 0 auto;
    }

    :root {
        --form-title-size: 18px;
        --form-input-width: 400px;
        --form-input-height: 60px;
        --form-input-massage: 100px;
        --form-text-hint: 14px;
    }

    .mapIMG {
        margin-bottom: 57px;
    }

    .forms-div {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }

    .nav-logo {
        width: 80px;
    }

    .footer {
        padding-left: 10px;
        padding-right: 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 350px;
    }

    .footer-logo {
        padding-top: 20px;
        width: 60px;
    }

    .fa-facebook {
        margin-right: 18px;
    }

    .footer-li {
        font-size: 15px;
    }

    .footer-li i {
        font-size: 25px;
        padding-bottom: 20px;
    }

    input[type=submit] {
        margin-bottom: 200px;
    }
}

@media (max-width: 570px) {
    .mapIMG {
        margin-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav-logo {
        width: 60px;
    }
    .burger {
        font-size: 20px;
    }
    .navigation {
        margin-top: 40px;
    }

    input[type=submit] {
        margin-bottom: 150px;
    }
}

    
@media (max-width: 450px) {
    :root {
        --form-title-size: 15px;
        --form-input-width: 350px;
        --form-input-height: 50px;
        --form-input-massage: 70px;
        --form-text-hint: 12px;
    }

    .forms-div {
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
    }
    .navigation {
        margin-top: 30px;
    }

    input[type=submit] {
        margin-bottom: 100px;
    }

    .footer {
        height: 500px;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

}

@media (max-width: 380px) {
    :root {
        --form-title-size: 12px;
        --form-input-width: 300px;
        --form-input-height: 40px;
        --form-input-massage: 60px;
        --form-text-hint: 10px;
    }

    .forms-div {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }

    .nav-logo {
        width: 40px;
    }
    .burger {
        font-size: 15px;
    }
    .navigation {
        margin-top: 25px;
    }
    .navigation {
        padding-left: 20px;
        padding-right: 20px;
    }
}

